<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/531e06b4-44d7-4758-8bbe-f3ac22deafcd/resourceGroups/speedwaydatabase/providers/Microsoft.Web/sites/OnlineStoreBackend20250502182239</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://onlinestorebackend20250502182239.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>72e5e818-634e-42e5-9590-d6b094e5a3c4</ProjectGuid>
    <PublishUrl>https://onlinestorebackend20250502182239.scm.azurewebsites.net/</PublishUrl>
    <UserName>$OnlineStoreBackend20250502182239</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>